._center {
  text-align: center !important; }

.app-layout {
  max-width: 676px;
  margin: 0 auto;
  position: relative; }
  .app-layout > .currency {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 1.4em;
    color: #fff; }

.home-container {
  background-color: #00B9DA;
  height: 100vh;
  text-align: center; }
  .home-container > .home-title {
    color: #fff;
    font-size: 3em;
    font-weight: 200;
    margin-bottom: 0.4em;
    padding-top: 4em; }
  .home-container > .home-score {
    color: #fff;
    font-size: 1.4em; }
  .home-container > .home-buttons {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    bottom: 4em;
    width: 100%;
    height: 18em; }
    .home-container > .home-buttons > .buttons-leaderboards {
      -webkit-flex: 1;
      flex: 1;
      -webkit-align-self: center;
      align-self: center;
      text-align: right; }
      .home-container > .home-buttons > .buttons-leaderboards .mdl-button {
        width: 70px;
        height: 70px;
        background-color: #fff; }
        .home-container > .home-buttons > .buttons-leaderboards .mdl-button > i {
          color: #00B9DA;
          font-size: 1.4em;
          width: auto;
          left: calc(50% - 5px); }
    .home-container > .home-buttons > .buttons-play {
      -webkit-flex: 1;
      flex: 1; }
      .home-container > .home-buttons > .buttons-play .mdl-button {
        background-color: #fff;
        width: 90px;
        height: 90px; }
        .home-container > .home-buttons > .buttons-play .mdl-button > i {
          color: #00B9DA;
          font-size: 2em;
          width: auto;
          left: calc(50% - 13px); }
    .home-container > .home-buttons > .buttons-store {
      -webkit-flex: 1;
      flex: 1;
      -webkit-align-self: center;
      align-self: center;
      text-align: left; }
      .home-container > .home-buttons > .buttons-store .mdl-button {
        width: 70px;
        height: 70px;
        background-color: #fff; }
        .home-container > .home-buttons > .buttons-store .mdl-button > i {
          color: #00B9DA;
          font-size: 1.4em;
          width: auto;
          left: calc(50% - 5px); }

html {
  font-size: 18px; }
  @media (max-width: 1400px) {
    html {
      font-size: 18px; } }
  @media (max-width: 1200px) {
    html {
      font-size: 16px; } }
  @media (max-width: 1024px) {
    html {
      font-size: 14px; } }
  @media (max-width: 500px) {
    html {
      font-size: 12px; } }

body {
  background-color: #F5F5F5;
  color: #000; }

a {
  text-decoration: none;
  color: #666; }

.page {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 24px 0 24px; }

.mdl-layout__header {
  z-index: 1; }
